[user]
	email = k99vivek@gmail.com
	name = Vivek Kumar
[core]
	pager = less -S -R
	editor = nvim
[alias]
  please = "push --force-with-lease"
  rbc = "rebase --continue"
  rbi = "rebase --interactive"
  rba = "rebase --abort"
  unstage = "restore --staged"
  sw = "switch"
  ch = "checkout"
  cb = "checkout -b"
  ours = "checkout --ours"
  theirs = "checkout --theirs"
[merge]
	tool = nvimdiff
