$include /etc/inputrc

set bell-style none

set completion-ignore-case on

set show-all-if-unmodified on

TAB:menu-complete
"\e[Z":menu-complete-backward
Control-l:complete
Control-x:shell-expand-line

